@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@font-face {
    font-family: 'Pixel'; /* puedo darle el nombre que prefiera */
    src: url('fuentes/PixelifySans-VariableFont_wght.ttf') format('truetype'); /* Ajusta la ruta y el formato según tu fuente (ttf, woff, etc.) */
  }
  

html {
    width: 1280px; /* Mantenemos el ancho en píxeles */
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Encabezado */
header {
    background-color: #80c080;
    padding: 1.5625%; /* 20/1280 x 100 */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pixel', sans-serif;
}

/* Pie de página */
footer {
    background-color: #80c080;
    padding: 10px; /* 10 / 1280 x 100 */
    text-align: center;
    clear: both;
    font-family: 'Crimson Text', 'Pixel', serif;
}

/* Barra de navegación */
nav {
    background-color: #a0d0a0;
    padding: 10px; /* 10 / 1280 x 100 */
    text-align: center;
}

header img {
    width: 5%; /* ANCHO: (64px / 1280px) * 100% */
    height: 5%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Contenido principal */
.content {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px; /* 20/1280 x 100 */
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

/* Cajas en el contenido */
.box {
    background-color: #c0e0c0;
    padding: 20px; /* 20/1280 x 100 */
    margin-bottom: 20px;
    height: 400px; 
    border-radius: 10px;
    width: 42.1875%; /* ANCHO: (540px / 1280px) * 100% */
    /*width:540px;*/
}

/* Titulo principal */
.titulo {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px; /* 10 / 1280 x 100 */
}

/* Enlaces de navegación */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px; /* 0.78125% 1.5625% */
    border-radius: 5px;
    background-color: #80c080;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #a0d0a0;
    color: #fff;
}

/* Imágenes dentro de las cajas */
.box img {
    width: 96%; /* ANCHO: (550*100)/540 */
    margin: 0 auto;
}

/* Contenido dentro de las cajas */
.box div {
    background-color: rgba(255, 255, 255, 0.4);
    width: 94%; /* ANCHO: (520*100)/540 */
    padding: 20px; /* 20/540x100 = 3.7037% */
    height: 90%;
    border-radius: 10px;
    overflow: auto;
}

/* Subtítulo en las cajas */
.titulin {
    font-family: 'Pixel', serif;
    font-size: 20px;
    margin-top: -5px;
    color: pink;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
    text-align: center;
}

.titulin:hover {
    color: darkviolet;
}

/* Tabla de emisiones */
.tabla-emisiones {
    width: 94%; /* ANCHO: (520*100)/540 */
    /*width: 480px*/
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-emisiones th, .tabla-emisiones td {
    border: 1px solid #ccc;
    padding: 10px; /* 1.5625%; */
    text-align: left;
}

.tabla-emisiones th {
    background-color: #c0e0c0;
}

.tabla-emisiones tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Lista de emisiones */
.lista-emisiones {
    list-style-type: disc;
    margin-top: 20px; 
    padding-left: 20px; /*1.5625%;*/ 
}

.lista-emisiones li {
    margin-bottom: 10px; 
}

/*********************************************************** Formulario ***************************************************************/
#formulario {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 20px; /* 2.34375% 1.5625%, ANCHO: (30px / 1280px) * 100% y (20px / 1280px) * 100% */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    text-align: left;
    width: 40%; /* ANCHO: (500px / 1280px) * 100% */
    /*width: 500px;*/
    margin: 0 auto;
}

/* Títulos del formulario */
#formulario h2 {
    color: darkgreen;
    transition: color 0.3s ease;
}

#formulario h2:hover {
    color: pink;
}

/* Etiquetas del formulario */
#formulario label {
    display: block;
    margin-top: 20px;
}

/* Entradas de texto en el formulario */
#formulario input[type="text"] {
    width: 60%;  /* (300 * 100) / 500*/
    /* witdth: 300px; */
    padding-left: 0.78125%; /* ANCHO: (10px / 1280px) * 100% */
}

/* Radio y checkboxes en el formulario */
#formulario input[type="radio"],
#formulario input[type="checkbox"],
#formulario select {
    margin-top: 5PX; /* ANCHO: (5px / 1280px) * 100% */
}

#formulario input[type="radio"],
#formulario input[type="checkbox"] {
    display: inline;
}

/* Botón de enviar en el formulario */
#formulario button {
    margin-top: 0.78125%; 
    padding:10px 20px; /* ANCHO: (10px / 1280px) * 100% y (20px / 1280px) * 100% */
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
}

/* Secciones resaltadas en el formulario */
.resaltado {
    margin-top: 10px; 
    background-color: lightgoldenrodyellow;
    padding: 15px; 
    border-radius: 5px; 
}

.resaltado1 {
    margin-top: 10px; 
    background-color: lightgreen;
    padding: 15px; 
    border-radius: 5px; 
}

/* Texto fuerte en el formulario */
.fuerte {
    font-weight: bold;
}

/* Centro de condiciones en el formulario */
#centro-condiciones {
    text-align: center;
    margin: 10px; 
}

@media (width <= 1024px) {
    html {
        width:auto;   
    }

    header {
        padding: 5px;
    }

    .content {
        padding: 10px; 
    }

    .box {
        width: 100%; 
        background-color: rgb(43, 226, 159);
        font-size: 20px;
    }

    .box img{
        width:90%;
        height:95%;
    }

    .box div {
        width:90%;
    }

    .titulin {
        font-size: 30px;
        color: rgb(204, 94, 113);
    }

    #formulario {
        width: 90%;
    }
}

@media (width <= 760px) {
    html {
        width: auto;
    }

    header {
        padding: 5px;
    }

    .content {
        padding: 10px; 
    }

    .box {
        width: 100%; 
        background-color: rgba(51, 255, 0, 0.644);
        font-size: 15px;
    }

    .box img{
        width:90%;
    }

    #formulario {
        width: 90%;
    }
}

